.session-pane {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.session-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  width: 1300px;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  margin-bottom: 20px;
}

.session-header button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #33592a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.session-header button:hover {
  background-color: #367c39;
}

.session-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 20px;
  margin-top: 0;
}

.session-item {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}


@media (max-width: 1400px) {
  .session-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 992px) {
  .session-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media (max-width: 768px) {
  .session-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  
  .session-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .session-header button {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .session-list {
    grid-template-columns: 1fr;
  }
  .session-header{
    width:100%;
  }

  .session-pane {
    width: 100%; 
  }
}
}
